<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>'this' Presentation for SuncoastJS</title>
  <style>
    body {
      font-size: 30px;
      line-height: 40px;
    }
  </style>
</head>
<body>
  <h1>Examples</h1>
  <ol>
    <li><a href="https://codepen.io/kristenscript/pen/aaLYMG">Call, Bind, Apply</a></li>
    <li><a href="https://codepen.io/kristenscript/pen/yxzXKg">Vanilla JS click handler</a></li>
    <li><a href="https://codepen.io/jsonjun/pen/MvwXYZ">React.js event handler</a></li>
    <li><a href="https://jsfiddle.net/zvv4dmvo">Vue.js method within object</a></li>
  </ol>
</body>
</html>
