<!DOCTYPE html>
<html lang="en" style="background-color: #fff">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width initial-scale=1">
  <title>Spy Game</title>
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/portfolio.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
  <main>
    <h1>Spy Game</h1>
    <div>
      <label>How many players?
        <input
          type="number"
          name="players"
          id="players"
          value="4"
          style="width: 30px;"
          required
        />
      </label>
    </div>
    <div>
      <label>How many spies?
        <input type="number" name="spies" id="spies" value="1" required style="width: 30px"/>
      </label>
    </div>
    <div>
      <label>
        <p>Locations:</p>
        <textarea name="locations" id="locations" cols="30" rows="20">
Fletcher grandparents' house
Elementary school
Castle
Airport
Forest
Rebel Base
World War II Squad
Pirate Ship
Deserted Island
Space Station
Hotel
Baseball Stadium
Crusader Army
Restaurant
Hospital
Police Station
Submarine
Zoo
Museum
Concert
        </textarea>
      </label>
    </div>
    <div>
      <a id="email_button" href="mailto:">Send by Email</a>
    </div>
    <div>
      <button id="start_button" style="padding: 10px 20px; border-radius: 10px; font:inherit; margin-bottom: 20px">Start Game</button>
    </div>
    <ol id="player_list">
    </ol>
  </main>
</body>
<script src="/js/spy_game.js"></script>
</html>
