<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width initial-scale=1">
  <title>Spy Game</title>
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/portfolio.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
  <main>
    <h1>Spy Game</h1>
    <h2>How many players?</h2>
    <input
      type="number"
      name="players"
      id="players"
      value="4"
      required
    />
    <h2>How many spies?</h2>
    <input type="number" name="spies" id="spies" value="1" required/>
    <h2>Locations:</h2>
    <textarea name="locations" id="locations" cols="30" rows="10">
Fletcher grandparents' house
Elementary school
Castle
Airport
Forest
    </textarea>
    <a id="email_button" href="mailto:">Send by Email</a>
    <button id="start_button">Start Game</button>
    <div id="player_list">
    </div>
  </main>
</body>
<script src="/js/spy_game.js"></script>
</html>
