<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width initial-scale=1">
  <title>Spy Game</title>
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/portfolio.css">
</head>
<body>
  <main>
    <h1>Spy Game</h1>
    <h2>How many players?</h2>
    <input type="number" name="players" id="players" value={4}/>
    <h2>How many spies?</h2>
    <input type="number" name="spies" id="spies" value={1}/>
    <h2>Locations:</h2>
    <textarea name="locations" id="locations" cols="30" rows="10"></textarea>
    <a href="mailto:">Send by Email</a>
    <button>Start Game</button>

  </main>
</body>
<script>
document.addEventListener('DOMContentLoaded', function() {
  alert('Dom content loaded! <3')
});
</script>
</html>
