html {
  background-color: #ddd;
  font: normal 15px/1.6 Arial, Helvetica, sans-serif;
}

body {
  padding: 0 30px 30px;
  background-color: #fff;
  color: #555;
  max-width: 110rem;
  margin: 0 auto;
}

nav {
  position: fixed;
  background-color: rgba(222,222,222,.2);
  padding: 4px 30px;
  left: 0;
  right: 0;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  text-decoration: none;
  width: 5em;
  line-height: 2.6em;
  background-color: #888;
  color: #fff;
  border-radius: 5px;
  text-align: center;
}

nav a:hover {
  background-color: #555;
  color: #fff;
}

#name {
  font-size: 3.5em;
  padding-top: 3.8rem;
}

span.code {
  font-family: courier;
  background-color: #eee;
}

h1 {
  font-weight: 200;
}

h2 {
  font-weight: 400;
  padding: .5em 0;
}

h3 {
  font-size: 1.3rem;
}

header#home {
  float: left;
  width: 60%;
  margin-bottom: 40px;
}

#portrait {
  float: right;
  width: 40%;
  text-align: center;
  position: relative;
  top: 58px;
}

#portrait img {
  width: 150px;
  border: 2px solid #ddd;
  margin-bottom: 40px;
}

#skills {
  float: left;
  max-width: 32rem;
}

#skills ul {
  display: inline-block;
  vertical-align: top;
  padding: 10px 20px 20px;
}

section {
  clear: both;
}

#portfolio > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 15px;
}

.project {
  box-sizing: border-box;
  min-height: 500px;
  padding: 0 35px 0;
  margin-bottom: 55px;
  border-right: 3px solid #eee;
}

.project:nth-child(4n) {
  border-right: none;
}

.project header {
  background-color: rgba();
}

.project img {
  width: 100%;
  margin: 15px 0 10px;
  border: 2px solid #ddd;
}

.project ul {
  margin-top: 25px;
}

#about {
  max-width: 900px;
}

#about p {
  margin-bottom: 12px;
}

@media screen and (max-width: 1420px) {
  #portfolio > div {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .project:nth-child(4n) {
    border-right: 3px solid #eee;
  }
  .project:nth-child(3n) {
    border-right: none;
  }
}

@media screen and (max-width: 980px) {
  #portfolio > div {
    grid-template-columns: 1fr 1fr;
  }
  .project:nth-child(3n) {
    border-right: 3px solid #eee;
  }
  .project:nth-child(2n) {
    border-right: none;
  }
  h1 {
    font-size: 1.3rem;
    font-weight: 400;
  }
  #name {
    font-size: 2.1rem;
  }
}

@media screen and (max-width: 750px) {
  #portfolio > div {
    grid-template-columns: 1fr;
  }
  .project {
    max-width: 400px;
    border-right: none;
    border-bottom: 2px solid #ccc;
    padding-bottom: 40px;
    height: auto;
  }
  .project:nth-child(3n) {
    border-right: none;
  }
}

@media screen and (max-width: 600px) {
  header#home {
    width: 100%;
    margin-bottom: 20px;
  }
  #portrait {
    float: none;
    width: 100%;
    position: static;
  }
  #portrait img {
    margin-bottom: 0;
  }
/*  #portrait img:before {
    content: '';
  }*/
}

@media screen and (max-width: 550px) {
  .project {
    padding: 0 6px 30px;
  }
}

@media screen and (max-width: 370px) {
  nav a {
    width: 4rem;
  }
}
